Delorean==0.4.1
Flask==0.10.1
Flask-Jsonpify==1.3
GitPython==0.1.7
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
argparse==1.1
gevent==1.0
gnureadline==6.3.3
greenlet==0.4.2
grequests==0.2.0
ipython==2.0.0
itsdangerous==0.24
jenkinsapi==0.2.19
jira-python==0.16
libmagic==1.0
numpy==1.8.1
oauthlib==0.6.1
ordereddict==1.1
pandas==0.13.1
pymongo==2.7
python-dateutil==2.1
pytz==2014.2
requests==2.2.1
requests-oauthlib==0.4.0
-e git+https://github.com/savagegus/rundeckrun.git@668d77728d89b42b8c61e66dda74c6d265a1f583#egg=rundeckrun-0.1.6
six==1.6.1
tlslite==0.4.6
vincent==0.4.2
wsgiref==0.1.2
xmltodict==0.8.7
newrelic>=2.22.1.20
